$tab-size: 900px;
:host{
    position: relative;
}
.tool{
    grid-template-columns: 1fr auto;
    .info{
        @media screen and ( min-width: $tab-size ) {
            padding: 0px 30px;
        }
    }
}

.img img{
    width: 413px;
}



.slider{
    display: grid;
    // width: 100%;
    // height: 100%;

    width: 780px;
    height: auto;

    align-self: center;

    @media screen and ( max-width: $tab-size ) {
        // padding: 0px 30px;
        width: 100%;
        max-width: 500px;
        grid-row: 2/3;
    }


    
}

.slider__wrapper{
    display: grid;
}


.slider__item{
    overflow: hidden;
    img{
        width: 100%;
    }
}
