<div class="info-block">

    <h2>How to get license</h2>

    <div class="content">
        <div class="card">
            <img src="/assets/img/get-license/first-step.png" class="card__icon" alt="">
            <p class="card__descript">Buy the NFT on <a class="opensea-link" href="https://opensea.io/collection/cactussoft-license" target="_blank" rel="noopener">OpenSea</a>.</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none">
            <path d="M1.88904 1.00781L9.05548 9.03119L1.88904 16.9919" stroke="#7A8A88" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="card">
            <img src="/assets/img/get-license/second-step.png" class="card__icon" alt="">
            <p class="card__descript"><a href="https://dash.cactussoft.io/bind-nft" target="_blank">Confirm</a> the presence <br> of the NFT in your wallet.</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none">
            <path d="M1.88904 1.00781L9.05548 9.03119L1.88904 16.9919" stroke="#7A8A88" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="card">
            <img src="/assets/img/get-license/third-step.png" class="card__icon" alt="">
            <p class="card__descript">Get your license and <br> manage it in the <a href="https://dash.cactussoft.io/dashboard" target="_blank">dashboard</a>.</p>
        </div>
    </div>

</div>