<div class="info-block">

    <h2>Tools</h2>

    <div class="btns" id="horizontal-scroll-btns">
        <button id="cactus-scripts" class="active">CactusScripts</button>
        <button id="cactus-alo">CactusALO</button>
    </div>

    <div class="underlay" for="horizontal-scroll">
        
        <div class="tools" id="horizontal-scroll">
            
            <app-tool-discord-alo></app-tool-discord-alo>
            <app-tool-cactus-scripts></app-tool-cactus-scripts>

        </div>
    </div>

</div>