$tab-size: 900px;

.features{
    display: grid;
    grid-template-rows: 140px 140px 140px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 252px);
    column-gap: 50px;

    @media screen and ( max-width: $tab-size ) {
        // > .feature{
        //     min-height: 140px;
        // }
        grid-template-columns: minmax( auto, 400px ); 
        grid-template-rows: repeat(4, min-content);  
        padding: 0px 20px;     
        justify-content: center;
        row-gap: 35px;
    }
}


#three-dimensional{
    display: grid;
    grid-row: 1/4;
    grid-column: 2/3;
    position: relative;

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 290px;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    
    @media screen and ( max-width: $tab-size ) {
        display: none;
    }
}


.feature{
    z-index: 1;
    background-color: #222222;
    border-radius: 8px;

    padding: 25px 15px 20px;
    @media screen and ( max-width: $tab-size ) {
        padding-bottom: 25px;
    }
    grid-template-rows: min-content 1fr;

    display: grid;
    row-gap: 12px;

    text-align: center;

    position: relative;

    @media screen and ( min-width: $tab-size ) {
        &:nth-child(4), &:nth-child(5){
            grid-row: 3/4;
        }   
    }

    img{
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate( -50%, 0 );
        @media screen and ( max-width: $tab-size ) {
            width: 40px;
            height: 40px;
            top: -25px;
        }
    }

    p{
        color: #757575;
    }
}

.prompt{
    align-self: end;
    justify-self: center;
    margin-bottom: 15px;
    // transition: .6s;

    display: grid;
    row-gap: 5px;
    justify-items: center;
    color: #757575;

    font-size: 12px;
    line-height: 85%;
    opacity: .6;
    // animation: swing .5s ease-in 2s infinite;
    animation: flicker 1.5s linear 0s infinite ;
}




@keyframes flicker {
    0%{
        opacity: .5;
    }
    50%{
        opacity: .9;
    }
    100%{
        opacity: .5;
    }
}

