<div class="info-block">

    <h2>Features</h2>

    <div class="features">

        <div class="feature">
            <img src="/assets/img/features/feature-1.svg" alt="">
            <h3>Constant Updates</h3>
            <p>Giving members the best chance at future restocks whether its new platforms or quick module changes.</p>
        </div>

        <div class="feature">
            <img src="/assets/img/features/feature-2.svg" alt="">
            <h3>Support system</h3>
            <p>24/7 Ticket Support from our highly trained staff ready to assist 1 on 1 with any questions.</p>
        </div>

        <div id="three-dimensional" (mouseenter)="hidePrompt()" (mouseleave)="showPrompt()">
            <app-cactus-three-dimensional></app-cactus-three-dimensional>
            <img src="/assets/img/others/arrows-direction.svg" alt="">
            <div class="prompt">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="12" viewBox="0 0 38 12" fill="none">
                    <path d="M1 1C3.25 5.375 10 11 19 11C28 11 34.75 5.375 37 1M1 1V3.5M1 1L3.29091 2.25M37 1V3.5M37 1L34.7091 2.25" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                you can rotate it!
            </div>
        </div>

        <div class="feature"> 
            <img src="/assets/img/features/feature-3.svg" alt="">
            <h3>Multiple profile support</h3>
            <p>Easily manage unlimited profiles with simple to use import/export settings.</p>
        </div>

        <div class="feature">
            <img src="/assets/img/features/feature-4.svg" alt="">
            <h3>Guides</h3>
            <p>Our members will always be prepared with the best setups for drops and releases.</p>
        </div>

    </div>

</div>