<div class="info-block">
    <h2>Roadmap</h2>

    <div class="roadmap response-bg">
        <img class="road" src="/assets/img/roadmap/road.png" alt="">

        <div class="step" id="basic-modules">
            <ul class="step__list response-bg" >
                <li>AIO Autofill</li>
                <li>DIY Scripts</li>
                <li>Software GUI</li>
                <li>Private Discord server</li>
                <li>Technical support</li>
                <li>Dashboard</li>
            </ul>

            <div class="step__period">
                <span class="step__name">Basic modules</span>
                <span class="step__date">Done</span>
            </div>
        </div>

        <img src="/assets/img/roadmap/to-second-step.svg" alt="" class="to-step">

        <div class="step" id="discord-modules">
            <ul class="step__list response-bg" >
                <li>Token Manager</li>
                <li>Joiner FCFS</li>
                <li>Joiner Farm</li>
                <li>Link Opener</li>
                <li>Spammer</li>
                <li>Servers Cleaner</li>
            </ul>

            <div class="step__period">
                <span class="step__name">Discord modules</span>
                <span class="step__date">Done</span>
            </div>
        </div>

        <img src="/assets/img/roadmap/to-third-step.svg" alt="" class="to-step">

        <div class="step" id="nft-modules">
            <ul class="step__list response-bg" >
                <li>Binance Fast Checkout</li>
                <li>OpenSea Fast Checkout</li>
                <li>OpenSea Monitor</li>
            </ul>

            <div class="step__period">
                <span class="step__name">First NFT modules</span>
                <span class="step__date">Done</span>
            </div>
        </div>

        <img src="/assets/img/roadmap/to-fourth-step.svg" alt="" class="to-step">
        
        <div class="step" id="before-mint-modules">
            <ul class="step__list response-bg" >
                <li>NeftyBlocks</li>
                <li>AtomicHub</li>
                <li>MagicEden Monitor</li>
                <li>MagicEden Fast Checkout</li>
                <li>AlphaArt Monitor</li>
                <li>AlphaArt Fast Checkout</li>
                <li>Discord Invite Creator</li>
                <li>Solana markets Rarity Checker</li>
                <li class="super">Artificial Intelligence Spammer</li>
            </ul>

            <div class="step__period">
                <span class="step__name">Before Mint</span>
                <span class="step__date">Done</span>
            </div>
        </div>


        <img src="/assets/img/roadmap/to-fifth-step.svg" alt="" class="to-step">

        
        <div class="step" id="after-mint-modules">
            <ul class="step__list response-bg" >
                <li>Issuance of licenses</li>
                <li>Price regulation</li>
                <li>Twitter monitors</li>
                <li class="good">Charity</li>
                <li>Solanart Fast Checkout</li>
                <li>Solanart Monitor</li>
                <li>OpenSea Auto Gas Setter</li>
                <li>OpenSea Rarity Checker</li>
                <li>Constant improvements</li>
                <li>Partnerships</li>
            </ul>

            <div class="step__period">
                <span class="step__name">After Mint</span>
                <span class="step__date">Will be done</span>
            </div>
        </div>
    </div>
</div>