<div class="info-block">
    <h2>Plans</h2>

    <div class="pricing">
        <div class="card ">
            <h3 class="card__title">CactusSoft</h3>
            <p class="card__description">Regular subscription. It does not include some modules, for example, AI, Twitter monitor, etc.</p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Buy</span>
                    <span class="price-row__value" style="color: #757575;">Unavailable</span>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">$23/40/month</span>
                </p>
            </div>
        </div>
        <div class="card card_big">
            <h3 class="card__title">CactusSoft+ <span style="color: #00AE98">Green</span></h3>
            <p class="card__description">A subscription that includes all advanced modules. the license is presented in the form of NFT.</p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Buy</span>
                    <a href="https://opensea.io/collection/cactussoft-license" target="_blank" rel="noopener" class="price-row__value">OpenSea</a>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">0.05 ETH/month</span>
                </p>
            </div>
        </div>
        
        <div class="card ">
            <h3 class="card__title">CactusSoft+ <span style="color: #C5A368;">Gold</span></h3>
            <p class="card__description">The same plan as the green one, but with no monthly subscription payment.</p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Buy</span>
                    <a href="https://opensea.io/collection/cactussoft-license?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=Type&search[stringTraits][0][values][0]=Lifetime" target="_blank" rel="noopener" class="price-row__value">OpenSea</a>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">Free</span>
                </p>
            </div>
        </div>
</div>