<app-home-header class="section"></app-home-header>
<div id="transit-block">

    <section class="section fullscreen" > 
    </section>

    
    <section class="section main" >
        <main>
            <app-home-tools></app-home-tools>
            <app-about></app-about>
            <app-home-features></app-home-features>
            <app-home-faq></app-home-faq>
            <app-roadmap></app-roadmap>
            <app-pricing></app-pricing>
        </main>
        <app-home-footer></app-home-footer>
    </section>
</div>
