<div class="info-block">

    <h2>Frequently Asked Questions</h2>
    <h2>FAQ</h2>

    <div class="faq-cards">


        <div class="card">
            <span class="hr"></span>
            <h3>What's the difference between CactusSoft and CactusSoft+?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            
            <p>CactusSoft+ includes all modules from the basic subscription, plus a few more (AI etc.) </p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>What's CactusSoft+ price?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>The initial cost is set by NFT sellers on <a href="https://opensea.io/collection/cactussoft-license" target="_blank" rel="noopener" class="opensea-link">OpenSea</a>. Renewal is 0.025 ETH/month for a Green Cactus and is free for a Gold one.</p>
        </div>
         
        <div class="card">
            <span class="hr"></span>
            <h3>Can I resell my license?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>All unbindable CactusSoft licenses are resellable, including CactusSoft+ licenses (you can resell it via <a href="https://opensea.io/collection/cactussoft-license" target="_blank" rel="noopener" class="opensea-link">OpenSea</a>).</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>Can I get a refund?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>Unfortunately, all sales are final, <br> and no refunds will be processed.</p>
        </div>
        

    </div>

</div>