<div class="info-block">

    <h2>Frequently Asked Questions</h2>
    <h2>FAQ</h2>

    <div class="faq-cards">


        <div class="card">
            <span class="hr"></span>
            <h3>How can I purchase CactusSoft? </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            
            <p>Make sure to follow our social media <br> and have notifications on for future restocks.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>What's CactusSoft's retail price?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>Initial cost is $35 (first month included), <br> renewal is $20/month.</p>
        </div>
         
        <div class="card">
            <span class="hr"></span>
            <h3>Can I resell my license?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>We offer both resellable and non-resellable <br> copies. All unbindable keys are resalable.
            </p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>Can I get a refund?</h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>Unfortunately, all sales are final, <br> and no refunds will be processed.</p>
        </div>
        

    </div>

</div>