<div class="info-block">

    <h2>Frequently Asked Questions</h2>
    <h2>FAQ</h2>

    <div class="faq-cards">


        <div class="card">
            <span class="hr"></span>
            <h3>1. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>2. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>3. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>4. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>5. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>
        
        <div class="card">
            <span class="hr"></span>
            <h3>6. Question </h3>
            <img src="/assets/img/icons/open-card.svg" alt="open answere">
            <p>A chrome extension which, automates the checkout process on various websites and platforms.</p>
        </div>



    </div>

</div>