$tab-size: 900px;

.tool{
    grid-template-columns: 1fr 1fr;
    .info{
        @media screen and ( min-width: $tab-size ) {
            padding: 0px 30px;
        }
    }
}

.img img{
    width: 413px;
}

@media screen and ( max-width: $tab-size ) {
    .img{
        padding: 0px 30px;
        img{
            width: 100%;
            max-width: 350px;
        }
    }
}

