<div class="tool">
    <div class="img">
        <img src="/assets/img/tools/cactus-scripts.png" alt="Cactus Scripts screenshoot">
    </div>

    <div class="info">
        <h3>CactusScripts</h3>
        <p class="descript">
            A chrome extension which, automates <br> 
            the checkout process on various websites <br>
            and platforms.
        </p>
        
        <div class="features">

            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                AIO Autofill
            </div>
            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                Stripe Autofill + Autocheckout
            </div>
            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                Shopify Request mode
            </div>

            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                TL dashboard Request + Front mode
            </div>
            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                MetaLabs Request mode
            </div>
            <div class="feature">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="#00AE98"/>
                    <path d="M6 9L8 11L12 7" stroke="#262626" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                Adidas Autofill + Autocheckout
            </div>

        </div>
    </div>
</div>