<div class="info-block">
    <h2>Pricing</h2>

    <div class="pricing">
        <div class="card ">
            <h3 class="card__title">Old keys</h3>
            <p class="card__description">Long term membership licenses. You can buy these on the secondary market.</p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Initial</span>
                    <span class="price-row__value">NaN</span>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">$23/month</span>
                </p>
            </div>
        </div>
        <div class="card card_big">
            <h3 class="card__title">Special keys</h3>
            <p class="card__description">Special type of keys for those who want to immediately get a license. <a href="https://discord.gg/5fhkXKUajH" target="_blank" rel="noopener">Contact us</a> </p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Initial</span>
                    <span class="price-row__value">$700-1000</span>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">40$/month</span>
                </p>
            </div>
        </div>
        
        <div class="card ">
            <h3 class="card__title">Regular keys</h3>
            <p class="card__description">Main license type. We drop these on our restocks.</p>
            <div class="card__price-info">
                <p class="card__price-row price-row">
                    <span class="price-row__title">Initial</span>
                    <span class="price-row__value">$48</span>
                </p>
                <p class="card__price-row price-row">
                    <span class="price-row__title">Renewal</span>
                    <span class="price-row__value">$28/month</span>
                </p>
            </div>
        </div>
</div>