<header class="response-bg "> 


    <div class="bckg parallax-block" >
        <div class="first response-bg" data-speed="0.5"></div>
        <div class="second response-bg" data-speed="1.5"></div>
        <div class="third response-bg" data-speed="2.8"></div>
    </div>


    <app-navbar [isRouterLink]="true"></app-navbar>

    <div class="info">
         
        <h1>New level <br> of 3rd party software</h1>
          
        <p>Advanced software <br> created to help you secure resellable goods <br>at retail prices</p>
        <button class="standart-btn">Sold out</button>
    </div>

    <button id="toNextSection">
        scroll
        <span class="vertical-hr"></span>
    </button>
</header>