$tab-size: 780px;
$mob-size: 480px;

header{
    height: 100%;
    background-image: url('/assets/img/background/header.svg');
    // background-position: left center;

    display: grid;
    position: relative;
    transition: .4s;

    @media screen and ( max-width: $tab-size ) {
        background-image: url('/assets/img/background/header-tab.svg');
        background-position: left;
    }
    @media screen and ( max-width: $mob-size ) {
        background-image: url('/assets/img/background/header-mob.svg');
        position: center;
    }
}

.parallax-block{
    @media screen and ( max-width: $tab-size ){
        display: none;
    }
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective: 1px;
    perspective-origin: 0 0;
    > *{
        width: 105%;
        height: 100%;
        // position: absolute;
        bottom: 0px;
        left: 0px;
        // background-size: cover;
        background-position: bottom;
        transition: .1s;

        // will-change: scroll-position;
        
        // perspective: 1px;
        // perspective-origin: 0 0;
        position: sticky;
        transform-origin: 0 0;
        
    }

    > .first{
        background-image: url('/assets/img/background/header-parallax-1.svg');
    }
    > .second{
        background-image: url('/assets/img/background/header-parallax-2.svg');
    }
    > .third{
        background-image: url('/assets/img/background/header-parallax-3.svg');
        top: auto;
        bottom: -3%;
        height: 103%;
        
    }
}



app-navbar{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate( -50%, 0% );
    width: 100%;

    max-width: 1560px;
    box-sizing: border-box;
    padding: 0px 80px;
    
    @media screen and ( max-width: $tab-size ) {
        padding: 0px 40px;
    }

    @media screen and ( max-width: $mob-size ) {
        padding: 0px 20px;
        top: 20px;
    }
}

.info{
    justify-self: center;
    align-self: center;

    display: grid;
    row-gap: 15px;
    text-align: center;

    position: relative;
    top: -20px;

    .standart-btn{
        margin-top: 15px;
        justify-self: center;
        width: 216px;
        transition: .4s;
        svg path{
            transition: .4s;
        }
    
        &:hover svg path{
            fill: #222;
        }
        @media screen and ( max-width: $tab-size ) {
            background: rgba(39, 39, 39, 0.85);
            &:hover{
                background: #00AE98;
            }
        }
    }
    padding: 0px 20px;
}

h1{
    @media screen and ( min-width: $mob-size ) and ( max-width: $tab-size ) {
        font-size: 28px;
    }
}

p{
    font-weight: 500;
    font-size: 18px;
    line-height: 95%;
    color: #757575;
    @media screen and ( max-width: $mob-size ) {
        font-size: 14px;
    }
}


#toNextSection{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate( -50%, 0 ); 

    color: #e5e5e5;
    border: none;

    span{
        display: grid;

        background: #E5E5E5;
        border-radius: 2px;
        width: 3px;
        height: 25px;
        margin: 0px auto;
        transition: .4s;
        // animation: swing .5s ease-in 2s infinite;
        animation: swing 1s linear .5s 15 ;

    }

    
    &:hover span{
        transform: translate( 0px, 10px );
        animation: none;
    }
}


@keyframes swing {
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 5px);
    }
    100%{
        transform: translate(0, 0px);
    }
}

