
<div class="about__mint card">
    <img src="/assets/img/sneak-peek/prereveal.png" alt="">
    <div class="about__sub sub row">
        <h3 class="sub__name">CactusSoft+</h3>
        <span class="sub__price row">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none">
                <g clip-path="url(#clip0_4041_6055)">
                <g opacity="0.6">
                <path opacity="0.6" d="M6.00124 7.39609L-0.000244141 10.1889L6.00124 13.817L12.0004 10.1889L6.00124 7.39609Z" fill="#757575"/>
                </g>
                <g opacity="0.45">
                <path opacity="0.45" d="M-0.000488281 10.1889L6.001 13.817V0L-0.000488281 10.1889Z" fill="#757575"/>
                </g>
                <g opacity="0.8">
                <path opacity="0.8" d="M6.00122 0V13.817L12.0004 10.1889L6.00122 0Z" fill="#757575"/>
                </g>
                <g opacity="0.45">
                <path opacity="0.45" d="M-0.000244141 11.3524L6.00124 20.0037V14.9805L-0.000244141 11.3524Z" fill="#757575"/>
                </g>
                <g opacity="0.8">
                <path opacity="0.8" d="M6.00122 14.9805V20.0037L12.0051 11.3524L6.00122 14.9805Z" fill="#757575"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_4041_6055">
                <rect width="12" height="20" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            0.3
        </span>
    </div>
</div>

<div class="mint">
    <button class="bg-btn mint__btn" disabled>Mint 6 February</button>
    <span class="mint__count">Minted: 0/200</span>
</div>