@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');


$primary-color: #00AE98;
$primary-hover: #00CCB2;

$secondary-color: #262626;

$danger-color: #E56363;
$btn-radius: 8px;
$tab-size: 780px;


$max-width-horizontal-scroll: 900px;


.primary-bg{
    background-color: $primary-color;
    &:hover:not( :disabled ){
        background-color: $primary-hover;
    }
}


html, body{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #262626;
    overflow: hidden;
    height: 100vh;
    transition: .3s;
}


*{
    font-family: 'Mitr', sans-serif;
}

app-root{
    display: grid;
}
app-root > *{
    display: grid;
}



app-mint, app-bind-key-by-nft{
    height: 100vh;
    overflow: auto;

    display: grid;
}


app-user-agreement{
    height: 100vh;
    overflow: auto;

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 80px;
    @media screen and ( max-width: $tab-size ) {
        row-gap: 40px;
    }
}

*{
    outline: none;
    &::selection{
        background-color: $primary-color;
    }
    scroll-behavior: smooth;
}


div, section, header, main, footer, nav, form{
    box-sizing: border-box;
}

a, button{
    cursor: pointer;
    box-sizing: border-box;
    &:disabled{
        cursor: default;
    }
    transition: .7s;
}

a{
    text-decoration: none;
    color: #fff; 
}

button{
    background: none;
    border: 1px solid #F5F5F5;
}

ul, li, p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}


.pointer{
    cursor: pointer;
}



router-outlet{
    position: absolute;
}



::-webkit-scrollbar{
    width:8px;
    height: 8px;
    @media screen and ( max-width:$tab-size ) {
        width: 0px;
        height: 0px;
    }
}
  
::-webkit-scrollbar-thumb{
    border: none;
    background: $primary-color;
    transition: .3s;
}
  
::-webkit-scrollbar-thumb:hover{
    background: $primary-hover;
}
  
::-webkit-scrollbar-track{
    border-width:0;
    background: $secondary-color;
}








.response-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




h1, h2{
    font-weight: 500;
    font-size: 28px;
    @media screen and ( max-width: $tab-size ) {
        font-size: 24px;
    }
    line-height: 85%;
    color: #E5E5E5;
    z-index: 2;
}

h1{
    @media screen and ( max-width: $tab-size ) {
        font-size: 18px;
    }
}

h3{
    font-size: 18px;
    font-weight: 500;
    @media screen and ( max-width: $tab-size ) {
        font-size: 16px;
    }
    line-height: 95%;
    color: #E5E5E5;
}

p{
    color: #E5E5E5;
    font-size: 16px;
    line-height: 95%;
    @media screen and ( max-width: $tab-size ) {
        font-size: 14px;
    }
}





.btn{
    border-radius: $btn-radius;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    @media screen and ( max-width: $tab-size ) {
        height: 42px;
    }
    display: flex;
    align-items: center;
    justify-content: center;    
}



.standart-btn{
    @extend .btn;
    border: 1.5px solid $primary-color;
    color: $primary-color;
    &:hover:not(:disabled){
        color: $secondary-color;
        background-color: $primary-color;
    }
}


.bg-btn{
    @extend .btn;
    border: none;
    background-color: $primary-color;
    color: $secondary-color;
    &:hover:not(:disabled){
        background-color: $primary-hover;
    }

    &:disabled{
        opacity: 0.5;
    }
}


button{
    position: relative;
    ngx-spinner div{
        background-color: rgba( 0, 0, 0, 0) !important;

        > div {
            width: 25px !important;
            height: 25px !important;
            > div{
                border-width: 3px !important;
                width: inherit !important;
                height: inherit !important;
            }
        }

    }
}

.bg-btn{
    ngx-spinner div > div{
        color: #262626;
    }
}

.standart-btn{
    ngx-spinner div > div{
        color: #00AE98
    }
}

ngx-spinner{
    border-radius: inherit;
    > div{
        border-radius: inherit;
    }
}







section.section{
    height: 100vh;
    width: 100%;
    overflow: auto;

}

#transit-block{
    display: grid;
    transform: translate( 0px, 0vh );
    transition: .8s cubic-bezier(.42,.09,.34,1.05);
}

.info-block{
    display: grid;
    row-gap: 80px;
    justify-items: center;
    @media screen and ( max-width: $tab-size ) {
        row-gap: 65px;
    }
}






app-home{
    height: 100vh;
}
















canvas{
    cursor: move;
}

// styles for tools
.tool{
    display: grid;
    align-self: center;
    grid-template-columns: 1fr auto;
    column-gap: 30px;
    justify-self: center;
    
    @media screen and ( max-width: $max-width-horizontal-scroll ) {
        grid-template-columns: auto !important;
        row-gap: 30px;
        > .img{
            grid-row: 2/3;
        }
    }

    h3{
        @media screen and ( max-width: $tab-size ) {
            font-size: 18px !important;
        }
    }
    
    > :first-child{
        align-self: center;
    }

    .img{
        display: grid;
        align-items: center;
        justify-items: center;
        img{
            border-radius: 10px;
        }
    } 

    .info{ 
        display: grid;
        row-gap: 30px;
        align-content: center;
        text-align: left;
    }

    p{
        color: #757575;
    }

    .features{
        margin-top: 10px;
        display: grid;
        row-gap: 15px;
    }

    .feature{
        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
        font-size: 16px;
        justify-self: start;
        color: #E5E5E5;
        align-items: center;
        text-align: start;
        @media screen and ( max-width: $tab-size ) {
            font-size: 14px;
        }
    }

    @media screen and ( max-width: $max-width-horizontal-scroll ) {
        h3{
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                bottom: -4px;
                border-radius: 5px;
                background-color: #00AE98;
                display: block;
                position: absolute;
            }
            justify-self: center;
            position: relative;
        }

        .features{
            margin-top: 10px;
            row-gap: 12px;
            width: 460px;
            justify-self: center;
            @media screen and ( max-width: 480px ) {
                width: auto;
                justify-self: stretch;
            }
        }


        .info{
            row-gap: 20px;
            text-align: center;
        }
    }
}















#cactus-3d{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}





#zoom-img-icon{
    width: 38px;
    height: 38px;
    border-radius: 8px;
    background: rgba(229, 229, 229, 0.1);
    background-image: url('/assets/img/icons/search.svg');
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
    
    &.show{
        opacity: 1;
    }
    @media screen and ( max-width: 780px ) {
        display: none;
    }
}



#zoomed-img-wrapper{
    display: grid;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 5;

    @media screen and ( max-width: 780px ) {
        display: none;
    }

    .artboard{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
        background-color: #00000003;
    }

    img{
        max-height: 60vh;
        max-width: 75vw;
        height: 100%;
        justify-self: center;
        align-self: center;
        z-index: 2;
    }
}














#notifications-block{
    .notification{
        // @extend .row;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 24px;

        height: 56px;
        padding: 0 24px;

        border-radius: 12px;
        background: #1F1C1E;
        box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.15);

        transition: .4s;

        overflow: hidden;

        max-height: 0px;
        
        &.show{
            max-height: 56px;
            margin-top: 8px;
        }


        .icon{
            width: 24px;
            height: 24px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M12.0849 15.454L11.5718 15.8531L11.5966 15.885L11.6253 15.9136L12.0849 15.454ZM11.9589 14.95L12.609 14.95L12.6088 14.9407L11.9589 14.95ZM11.8509 7.426L11.2008 7.426L11.2009 7.43533L11.8509 7.426ZM11.9949 6.922L11.5353 6.46238L11.5218 6.47589L11.5091 6.49016L11.9949 6.922ZM14.0109 6.922L13.5251 7.35384L13.5378 7.36811L13.5513 7.38162L14.0109 6.922ZM14.1729 7.426L14.8229 7.43688V7.426H14.1729ZM14.0469 14.95L13.3969 14.9391V14.95H14.0469ZM13.9029 15.454L13.4171 15.0221L13.4137 15.026L13.9029 15.454ZM24.35 13C24.35 19.2684 19.2684 24.35 13 24.35V25.65C19.9864 25.65 25.65 19.9864 25.65 13H24.35ZM13 24.35C6.73157 24.35 1.65 19.2684 1.65 13H0.35C0.35 19.9864 6.0136 25.65 13 25.65V24.35ZM1.65 13C1.65 6.73157 6.73157 1.65 13 1.65V0.35C6.0136 0.35 0.35 6.0136 0.35 13H1.65ZM13 1.65C19.2684 1.65 24.35 6.73157 24.35 13H25.65C25.65 6.0136 19.9864 0.35 13 0.35V1.65ZM12.5349 14.948C12.5091 14.948 12.4909 14.9465 12.4793 14.9449C12.4678 14.9433 12.4644 14.9419 12.4675 14.9429C12.4707 14.944 12.4809 14.9476 12.4954 14.956C12.5101 14.9647 12.5274 14.9772 12.5445 14.9944L11.6253 15.9136C11.8926 16.181 12.2441 16.248 12.5349 16.248V14.948ZM12.598 15.0549C12.6242 15.0886 12.6257 15.1081 12.621 15.0894C12.6162 15.0702 12.6089 15.0265 12.6089 14.95H11.3089C11.3089 15.2345 11.357 15.5769 11.5718 15.8531L12.598 15.0549ZM12.6088 14.9407L12.5008 7.41667L11.2009 7.43533L11.309 14.9593L12.6088 14.9407ZM12.5009 7.426C12.5009 7.35511 12.5086 7.31894 12.5119 7.30757C12.5146 7.29805 12.5096 7.32127 12.4807 7.35384L11.5091 6.49016C11.2608 6.76941 11.2009 7.12635 11.2009 7.426H12.5009ZM12.4545 7.38162C12.4208 7.41532 12.3935 7.42303 12.399 7.42129C12.4075 7.41868 12.4428 7.41 12.5169 7.41V6.11C12.2 6.11 11.8192 6.17843 11.5353 6.46238L12.4545 7.38162ZM12.5169 7.41H13.5069V6.11H12.5169V7.41ZM13.5069 7.41C13.5429 7.41 13.5696 7.41205 13.5881 7.41451C13.6067 7.41697 13.6145 7.41949 13.614 7.41932C13.6133 7.41909 13.6023 7.41551 13.5854 7.40513C13.568 7.39442 13.5464 7.37779 13.5251 7.35384L14.4967 6.49016C14.216 6.17443 13.8142 6.11 13.5069 6.11V7.41ZM13.5513 7.38162C13.5374 7.36774 13.5276 7.35415 13.5212 7.34328C13.515 7.33272 13.5132 7.3267 13.5136 7.3279C13.514 7.3293 13.5164 7.33741 13.5187 7.35407C13.521 7.37075 13.5229 7.39437 13.5229 7.426H14.8229C14.8229 7.10972 14.7492 6.74107 14.4705 6.46238L13.5513 7.38162ZM13.523 7.41512L13.397 14.9391L14.6968 14.9609L14.8228 7.43688L13.523 7.41512ZM13.3969 14.95C13.3969 15.0209 13.3891 15.0571 13.3859 15.0684C13.3832 15.078 13.3881 15.0547 13.4171 15.0222L14.3887 15.8858C14.6369 15.6066 14.6969 15.2496 14.6969 14.95H13.3969ZM13.4137 15.026C13.4439 14.9915 13.4742 14.9693 13.4969 14.956C13.5188 14.9432 13.533 14.939 13.5337 14.9388C13.5345 14.9386 13.5259 14.9411 13.5052 14.9436C13.4847 14.946 13.4557 14.948 13.4169 14.948V16.248C13.6935 16.248 14.1116 16.2026 14.3921 15.882L13.4137 15.026ZM13.4169 14.948H12.5349V16.248H13.4169V14.948ZM12.7689 18.35C12.6274 18.35 12.5238 18.3375 12.4509 18.3206C12.3782 18.3038 12.3487 18.2855 12.3433 18.2817C12.3421 18.2809 12.3523 18.2891 12.3593 18.3038C12.3648 18.3152 12.3569 18.3071 12.3569 18.262H11.0569C11.0569 18.6861 11.2229 19.0862 11.6015 19.3493C11.9371 19.5825 12.3596 19.65 12.7689 19.65V18.35ZM12.3569 18.262V17.884H11.0569V18.262H12.3569ZM12.3569 17.884C12.3569 17.8338 12.3656 17.8211 12.3619 17.8289C12.3567 17.8401 12.3482 17.8473 12.3493 17.8465C12.3665 17.8343 12.4723 17.778 12.7689 17.778V16.478C12.3574 16.478 11.9323 16.5477 11.5954 16.7875C11.2179 17.0562 11.0569 17.4603 11.0569 17.884H12.3569ZM12.7689 17.778H13.2369V16.478H12.7689V17.778ZM13.2369 17.778C13.5334 17.778 13.6393 17.8343 13.6564 17.8465C13.6576 17.8473 13.6491 17.8401 13.6438 17.8289C13.6402 17.8211 13.6489 17.8338 13.6489 17.884H14.9489C14.9489 17.4603 14.7878 17.0562 14.4103 16.7875C14.0735 16.5477 13.6483 16.478 13.2369 16.478V17.778ZM13.6489 17.884V18.262H14.9489V17.884H13.6489ZM13.6489 18.262C13.6489 18.3071 13.641 18.3152 13.6464 18.3038C13.6535 18.2891 13.6637 18.2809 13.6625 18.2817C13.657 18.2855 13.6276 18.3038 13.5548 18.3206C13.482 18.3375 13.3783 18.35 13.2369 18.35V19.65C13.6461 19.65 14.0686 19.5825 14.4043 19.3493C14.7829 19.0862 14.9489 18.6861 14.9489 18.262H13.6489ZM13.2369 18.35H12.7689V19.65H13.2369V18.35Z' fill='%23C53737'/%3E%3C/svg%3E");
        }

        .message{
            font-weight: normal;
            font-size: 14px;
            max-width: 300px;

            color: #7A8A88;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        // &.error{
        //     background-color: $danger-color;
        // }
        // &.success{
        //     background-color: $success-color;
        // }
    }
}