<p>
    CactusSoft is a Google Chrome extension. We have been developing it for over 2 years.
    <br> 
    <br>
    <br> 
    We recently decided to introduce a new subscription level - CactusSoft+. It will be accessed through the purchase of our NFT.
    Thus, we sell not just a digital collectible, but access to a powerful tool for making money on NFT (fast purchasing, WL farming etc.).
</p>


<div class="subs">
    <div class="sub">
        <img src="/assets/img/sneak-peek/green.png" alt="" class="sub__peek">

        <div class="sub__info">
            <h2 class="sub__title">
                The <span style="color: #00AE98;">Green</span> Cactus
            </h2>
            <span class="sub__descript">Renewal - 0.05 ETH</span>
        </div>
    </div>

    <div class="sub">
        <img src="/assets/img/sneak-peek/gold.png" alt="" class="sub__peek">

        <div class="sub__info">
            <h2 class="sub__title">
                The <span style="color: #C5A368;">Green</span> Cactus
            </h2>
            <span class="sub__descript">Renewal - Free</span>
        </div>
    </div>
</div>